<%- include("header.ejs", {title:"Perfil"}) %>

        <section>
            <div class="perfil">
                <div class="bg-img">
                    <img id="bg-img" src="../imagens/post-background.png" alt="">
                </div>
                <div class="infos-perfil">
                    <div class="infos-perfil-left">
                        <img id="img-perfil" src="../imagens/image 1.png" alt="">
                        <p id="username">Joazin Gamer</p>
                        <div class="cargo">
                            <img id="img-cargo" src="../imagens/cargo-img.png" alt="">
                            <p id="cargo">Assessora</p>
                        </div>
                        <div class="email">
                            <img id="img-email" src="../imagens/email-img.png" alt="">
                            <p id="email">joaozin.gamer.23@cjr.org.br</p>
                        </div>
                    </div>
                    <div class="editar-perfil">
                        <button id="editar-perfil">Editar Perfil</button>
                    </div>
                </div>

                <div class="posts">
                    <p id="pubs">Publicações</p>

                    <div class="post">
                        <div id="post-user-infos">
                            <img id="img-post" src="../imagens/image 1.png" alt="">
                            <p id="post-owner">Joazin Gamer</p>
                            <p id="created-at">· 30 de jun</p>
                        </div>
                        <div id="post-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur inventore incidunt quam eos tenetur, eum alias! Id possimus non voluptas beatae cumque dolorum perspiciatis nemo ipsam natus, numquam voluptate eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, aspernatur accusantium delectus voluptatum ipsa at minima totam ipsam magni reiciendis. Obcaecati rerum eum saepe repellat asperiores officiis consequatur atque eaque!
                            </p>  
                        </div>
                    </div>
                    <div class="post">
                        <div id="post-user-infos">
                            <img id="img-post" src="../imagens/image 1.png" alt="">
                            <p id="post-owner">Joazin Gamer</p>
                            <p id="created-at">· 30 de jun</p>
                        </div>
                        <div id="post-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero accusantium fugiat necessitatibus animi quos tenetur perspiciatis accusamus officia. Ut, explicabo! Earum ipsa sunt delectus rem eius animi, ut dolor cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum deserunt corporis sequi odit molestias illum dicta corrupti quisquam ut praesentium. Odio eligendi porro minus esse! Labore ab architecto odit perspiciatis.
                            </p>  
                        </div>
                    </div>
                    <div class="post">
                        <div id="post-user-infos">
                            <img id="img-post" src="../imagens/image 1.png" alt="">
                            <p id="post-owner">Joazin Gamer</p>
                            <p id="created-at">· 30 de jun</p>
                        </div>
                        <div id="post-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ea neque expedita sunt quod sit dolores, excepturi, aliquam natus praesentium rerum molestias reprehenderit error vero atque est hic odio. Non?
                            </p>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
