<%- include("header.ejs", {title:"make post", logIn, username, img})%>

    <form method="post">
        <input name="conteudo" type="text">
        <button type="submit">Enviar</button>
    </form>
    
    </body>
</html>
