<%- include("./header.ejs", {title: "Recuperação de Senha"})%>

<style>
  body {
    /* Fundo */
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #111e3e;
  }
</style>

    <div class="logo">
      <logo></logo>
    </div>

    <div class="retangulo">
      <div class="box-txt">
        <h3>Bem vindo de volta, Fulano! Escolha sua nova senha.</h3>
      </div>
      <form id="form" method="POST">
      <div class="senha">
        
          <div>
            <label for="senha">
              <h3 style="font-size: 16px; line-height: 19px">Senha nova</h3>
            </label>
            <br />
            <input
              type="password"
              id="senha"
              name="nova_senha"
              placeholder=""
              maxlength="15"
              required
            />
          </div>
          <br />
      </div>

        <div class="confirmacao-txt">
          <div>
            <label for="confirmacao-txt">
              <h3 style="font-size: 16px; line-height: 19px">
                Digite novamente a senha
              </h3>
            </label>
            <br />
            <input
              type="password"
              id="confirmacao-txt"
              name="confirma_senha"
              placeholder=""
              maxlength="15"
              required
            />
          </div>
      </div>

      <div class="txt-acesso">
        <h3 style="font-size: 16px">
          Possui conta? <a href="/" style="color: #ffffff">Acesse aqui!</a>
        </h3>
      </div>

      <div class="box-cadastrar">
        <button name="botao-cadastrar" type="submit">
          <h3 style="font-size: 16px; color: #222e50">Cadastrar</h3>
        </button>
      </div>
     </form>
    </div>
  </body>
</html>
