*{
    font-family: "Inter";
}

section{
    padding-left: 27.5%;
    padding-right: 27.5%;
    background-color: #111e3e;
    min-height: 939px;
}



#criar-post{
    cursor: pointer;
    background-color: #8bc34a;
    color: #ffffff;
    width: 143px;
    height: 46px;
    font-family: "Inter";
    border: 0px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 12px;
}

p{
    color:#FFFFFF;
}


.posts{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    border-left: solid 1px #6f6f6f;
    border-right: solid 1px #6f6f6f;
    padding-bottom: 32px;
    min-height: 939px;
    border-bottom:solid 1px #6f6f6f;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#link-name{
    text-decoration: none;
    cursor: pointer;
}

#pubs{
    font-weight: 700;
    font-size: 15px;
}

.post{
    background-color: #222E50;
    border-radius: 18px;
    padding-top:10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
#post-user-infos{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

#img-post{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#post-owner{
    font-weight: 700;
    font-size: 16px;
}

#created-at{
    color:#6f6f6f;
    font-size: 16px;
}
#post-content{
    margin-left: 50px;
}

#comment-img{
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
}





.overlay{
    position: fixed;
    display:flex ;
    
    align-items: center;
    align-content: center;
      top: 0;
      left: 0;
      padding: 20px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
}

.section{
    display: flex;
    justify-self: center;
    align-self: center;
    
    position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      
      border-radius: 5px;
      display: none;
    
    
    

}


.container{
    display: flex;
    flex-direction: column;

    
    background-color: #111E3E;
    padding: 5%;
    height: auto;
    width: auto;
   border-radius: 20px;
   min-width: 300%;
}


#input-post{
    background-color: #222E50;
    border-radius: 20px;
    border: 0px;
    width: 100%;
    height: 300px;
    
}


.post-btns{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: right;
}

#cancelar{
    background-color: transparent;
    color: #ffffff;
    width: 100px;
    height: 45px;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 700;
    border: 0px;
    border-radius: 15px;
}

#publicar{
    background-color: #8BC34A;
    color: #ffffff;
    width: 100px;
    height: 45px;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 700;
    border: 0px;
    border-radius: 15px;
}
