* {
    font-family: 'Inter';
    font-weight: 700;
}

.register-page{
    background-color: #111E3A;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#register-box{
    width: 28%;
    height: 723px;
    padding: 20px 20px;
    margin-left: 55%;
    background: #222E50;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1px;
    padding-right: 1px;
    
}

#adicionar-img{
    background-color: transparent;
    border-color: transparent;
    margin-top: -10%;
    margin-left: 30%;
    cursor: pointer;
}


.input-box{
    font-family: 'Inter';
    font-style: normal;
    border-color: transparent;
    margin-bottom: 10px;
    width: 85%;
    height: 59px;
    border-radius: 15px;
    background: #D9D9D9;
    padding-left: 16px;
}

#input-img{
    color:transparent;
    background-color: transparent;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
}

#genero-box{
    font-family: 'Inter';
    font-style: normal;
    border-color: transparent;
    margin-bottom: 10px;
    width: 85%;
    height: 59px;
    border-radius: 15px;
    background: #D9D9D9;
    padding-left: 16px;
    color: gray;
}

#genero{
    color: black;
}

#register-button{
    background: #D9D9D9;
    width: 75%;
    height: 50px;
    border-radius: 15px;
    color: #111E3E;
    font-weight: 700;
    font-size: medium;
    border-color: transparent;
    cursor: pointer;
}

.cjr-img{
    position: absolute;
    width: 55%;
    top: 238px;
    left: 0px;
}




  
  
  
  